<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/homepage.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">

                <div class="card card-register" style="max-width: 800px;">
                    <h3 class="title text-white">Seçtiğiniz Atlar</h3>

                    <form class="register-form" [formGroup]="fgKayit" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <label>1. Tercih</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-minimal-right"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="inputselection_1_name" placeholder="1. Tercih" id="inputselection_1_name" autocomplete="off" required readonly>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>2. Tercih</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-minimal-right"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="inputselection_2_name" id="inputselection_2_name" placeholder="2. Tercih" autocomplete="off" required readonly>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>3. Tercih</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-minimal-right"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="inputselection_3_name" id="inputselection_3_name" placeholder="3. Tercih" autocomplete="off" required readonly>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>4. Tercih</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-minimal-right"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="inputselection_4_name" id="inputselection_4_name" placeholder="4. Tercih" autocomplete="off" required readonly>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>5. Tercih</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-minimal-right"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="inputselection_5_name" id="inputselection_5_name" placeholder="5. Tercih" autocomplete="off" required readonly>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>6. Tercih</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-minimal-right"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="inputselection_6_name" id="inputselection_6_name" placeholder="6. Tercih" autocomplete="off" required readonly>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>7. Tercih</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-minimal-right"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="inputselection_7_name" id="inputselection_7_name" placeholder="7. Tercih" autocomplete="off" required readonly>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>8. Tercih</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-minimal-right"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="inputselection_8_name" id="inputselection_8_name" placeholder="8. Tercih" autocomplete="off" required readonly>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>9. Tercih</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-minimal-right"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="inputselection_9_name" id="inputselection_9_name" placeholder="9. Tercih" autocomplete="off" required readonly>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>10. Tercih</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-minimal-right"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="inputselection_10_name" id="inputselection_10_name" placeholder="10. Tercih" autocomplete="off" required readonly>

                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center text-white">
                            <h5 class="title text-white">Bol Şanslar</h5>
                        </div>
                    </form>
                </div>
                <div *ngIf="error" class="row">
                    <div class="col-12">
                        <div class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </div>
                </div>
                <!-- <div class="footer register-footer text-center">
                <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
            </div> -->
            </div>
        </div>
    </div>