<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/homepage.jpg');">
    <div class="filter"></div>
    <div class="container">


        <div class="motto text-center" style="padding-top: 100px;">

            <h1>Welcome to the Competition</h1>
            <br />
            <a [routerLink]="['../register']" class="btn btn-outline-neutral btn-round">Yarışmaya Katıl</a>
            <a [routerLink]="['../kosullar']" class="btn btn-outline-neutral btn-round pl-1">Conditions</a>
        </div>
    </div>
</div>