<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/1.jpg'); width: 100%;">
        <div class="filter text-white h1">Katılım Şartları</div>
    </div>
    <div class="section pl-1">
        <div class="container">
            <h2><strong>YARIŞMAYA KATILIM KOŞULLARI VE PUANLAMA</strong></h2>
            <br>
            <p>1- Yarışmaya 18 yaşından büyükler katılabilir.</p>
            <p>2- Her yarışmacı yarışmaya 1 kez katılabilir.</p>
            <p>3- Eğer bir yarışmacının yarışmaya birden fazla kez katıldığı, veya 18 yaşından küçük birinin yarışmaya katıldığı tespit edilirse, derhal diskalifiye edilecektir. </p>
            <p>4- 3 Temmuz 2022 saat 13:00 yarışmaya son katılım tarihidir. Bu tarihten sonra yapılan başvurular kabul edilmeyecektir.</p>
            <hr />
            <h3><strong>Yarışmaya katılma ve aşamalar</strong></h3>
            <br>
            <p>1- Üye ol kısmında, tüm bilgileri doldurup sisteme üye olmalısınız. (Kaydın tamamlanması için e-posta adresinize gelen linke tıklamalısınız.).</p>
            <p>2- Üye olduktan sonra Yarışmaya Katıl kısmından, 2020 doğumlu 2 yaşında ingiliz tayları arasında 10 adet seçim yapmalısınız.</p>
            <p>3- 03.07.2022 tarihi itibariyle kısa vade ve grup yarışlarından alınacak puanlar ile seçmiş olduğunuz 10 atın toplam puanına göre sıralama oluşacak.</p>
            <p>4- Yarışma 2023 yılı Gazi koşusu akşamında tamamlanacak.</p>
            <p>En yüksek puana sahip yarışmacı 20 Bin TL ödülün sahibi olacak.</p>
            <p>İkinci en yüksek puana sahip yarışmacı 10 Bin TL ödülün sahibi olacak.</p>
            <p>Üçüncü en yüksek puana sahip yarışmacı 5 Bin TL ödülün sahibi olacak.</p>
            <hr />
            <h3><strong>Puanlama</strong></h3><br>
            <div class="row">
                <div class="col-md-3 col-sm-12 pt-3">
                    <p>Kısa Vade 6 Kazanan at: 20 Puan</p>
                    <p>Kısa Vade 7 Kazanan at: 25 Puan</p>
                    <p>Kısa Vade 8 Kazanan at: 30 Puan</p>
                    <p>Kısa Vade 9 Kazanan at: 40 Puan</p>
                    <p>Kısa Vade 18 Kazanan at: 40 Puan</p>
                </div>
                <div class="col-md-3 col-sm-12 pt-3">
                    <p>Grup-3 Yarış</p>
                    <p>1. 80 Puan</p>
                    <p>2. 40 Puan</p>
                    <p>3. 30 Puan</p>
                    <p>4. 20 Puan</p>
                </div>
                <div class="col-md-3 col-sm-12 pt-3">
                    <p>Grup-2 Yarış:</p>
                    <p>1. 150 Puan</p>
                    <p>2. 75 Puan</p>
                    <p>3. 45 Puan</p>
                    <p>4. 35 Puan</p>
                </div>
                <div class="col-md-3 col-sm-12 pt-3">
                    <p>Grup-1 Yarış:</p>
                    <p>1. 250 Puan</p>
                    <p>2. 150 Puan</p>
                    <p>3. 80 Puan</p>
                    <p>4. 60 Puan</p>
                </div>
                <div class="row">
                    <div class="col-12 pt-3 ml-3">
                        <p>Bonus Puanlar</p>
                        <p>GAZİ: 250 Puan</p>
                        <p>KISRAK: 150 Puan</p>
                        <p>ETD: 150 Puan</p>
                        <p>DTD: 150 Puan</p>
                        <p>CALDIRAN: 100 Puan</p>
                        <p>KARAYEL: 100 Puan</p>
                        <p>ANAFARTA: 100 Puan</p>
                        <h4>Tüm yarışmacılara bol şanslar dileriz...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>