<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/homepage.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Yarışmaya hoşgeldiniz.</h1>
            <h3>2023 Gazi akşamına kadar en cok puanı topla ödülü kazan. <br> 1. lik ödülü 20.000 TL <br>2. lik ödülü 10.000 TL <br> 3. lük ödülü 5.000 TL</h3>
            <br />
            <a [routerLink]="['/login']" class="btn btn-outline-neutral btn-round">Giriş Yap</a>
            <a [routerLink]="['/katilim']" class="btn btn-outline-neutral btn-round pl-1">Katılım Şartları</a>
        </div>
    </div>
</div>