<!-- <nav class="navb navbar navbar-expand-lg mb-3 mt-1">
  <div class="container">

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link" href="#/admin/options">Options</a></li>
      <li class="nav-item"><a class="nav-link" href="#/admin/competitors-list">Competitors</a></li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/admin/options">Options</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/admin/competitors-list">Competitors</a>
      </li>
    </ul>
  </div>
</nav>